body {
    position: relative;
    background-image: url(../img/bg3.png);
    background-repeat: repeat-x;
}

body a {
    text-decoration: none;
    color: #444;
}

body a:hover {
}

#opContainerPlaylists {
    width: 39%;
}

.op-container-songs {
}

.op-playlist {
    width: 100%;
}

.op-container-playlists .op-container-songbox {
    min-height: 10px;
}

.op-container-main .op-container-songbox {
    box-shadow: 0 0 5px #AAAAAA;
    margin-top: 5px;
}

.op-form-search {
    background-color: #ddd;
    background-image: url(../img/gr1.png);
    background-repeat: repeat-x;
    
    border-radius: 5px;
    box-shadow: 0px 0px 5px #aaa;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    display: inline-block;
    width: 100%;
}

.op-form-search form {
    margin: 15px;
    height: 31px;
}

.op-form-search input {
    font-size: 16px;
    padding: 5px;
}

.op-form-search input[type=text] {
    width: 82%;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
}

.op-form-search input[type=submit] {
    float: right;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    
    width: 79px;
    height: 31px;
    background-color: #eee;
}
.op-form-search input[type=submit]:hover {
    background-color: #ddd;
}

.op-container-main {
    width: 56%;
}

#opContainerPlaylists {
    right: 0;
    top: 50px;
    position: absolute;
}

.op-placeholder-little {
    height: 16px;
}




.op-loading {
    left: 522px;
    position: absolute;
    top: 69px;
}






.op-nowplaying {
    color: #ddd;
    background-image: url(../img/bg.png) !important;
}

.op-nowplaying a{
    color: #ddd;
}







.op-container-playlists {
    box-shadow: 0px 0px 5px #aaa;
}

.op-playlist-header {
    background: url(../img/player-bg.png) repeat-x scroll 0 0 #EBEBEB;
    background-position: 12px -48px;
    display: inline-block;
    width: 100%;
    
}

.op-playlist-header-in {
    text-align: center;
    padding: 2px;
}



.op-song {
    background-image: url(../img/player-bg.png);
    
    min-height: 20px;
    
    display: inline-block;
    width: 100%;
    cursor: move;
}

.op-subsong {
    padding: 3px;
}



#opSongsPlace {
    min-height: 300px;
}





.op-twitter-btn {
    left: 439px;
    position: absolute;
    top: 61px;
}


.op-footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #f5f5f5;
    
}

.op-underline {
    text-decoration: underline;
}

.jp-audio, .jp-interface, .jp-progress {
	height: 22px;
	cursor: pointer;
}

.jp-audio {
	float: left;
	background-color: black;
    position: fixed !important;
    z-index: 1000;
    top: 0px;
    left: 0;
    width: 100%;
}

.jp-interface {
	width: 100%;
}

.jp-pause, .jp-mute, .jp-play, .jp-unmute, .jp-shuffle, .jp-repeat {
	width: 20px;
	height: 24px;
	float: left;
	background-repeat: no-repeat;
}

.jp-pause {
	background-image: url("../img/player/pause.png");
}

.jp-play {
	background-image: url("../img/player/play.png");
	display: none;
}

.jp-mute {
	background-image: url("../img/player/mute.png");
}

.jp-unmute {
	background-image: url("../img/player/unmute.png");
	display: none;
}

.jp-shuffle {
	background-image: url("../img/player/shuffle_disabled.png");
	width: 24px;
}

.jp-shuffle.enabled {
	background-image: url("../img/player/shuffle.png");
}

.jp-repeat {
	background-image: url("../img/player/repeat_disabled.png");
	width: 24px;
}

.jp-repeat.one_song {
	background-image: url("../img/player/repeat_one.png");
}

.jp-repeat.playlist {
	background-image: url("../img/player/repeat.png");
}

.jp-progress {
	/*background-color: #555555;*/
	float: left;
	clear: none;
}

.jp-seek-bar {
	background-color: #555555;
}

.jp-play-bar {
	background-color: #A9A9A9;
	position: relative;
	top: 0px;
	left: 0px;
	height: 18px;
	margin-top: 2px;
}

.jp-right {
	float: right;
	width: 168px;
	margin-right: 5px;
}

.jp-volume-bar {
	background-color: #A9A9A9;
	height: 6px;
	margin-top: 8px;
	float: right;
	width: 100px;
}

.jp-volume-bar-value {
	background-color: #555555;
	height: 4px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
}

#song-title {
	float: left;
	display: none;
	z-index: 10;
	vertical-align: middle;
	color: white;
	text-align: center;
	width: 100%;
	height: 100%;
	position: relative;
}

#jquery_jplayer_1 {
	height: 0px;
}