[database]
host        = "MYSQL_HOST"
user        = "MYSQL_USER"
password    = "MYSQL_PASS"
db          = "MYSQL_DB"
charset     = "utf8"

[app]
title		= "Open Player"
charset		= "UTF-8"

baseUrl		= "ССЫЛКА_НА_СТРАНИЦУ_ПЛЕЕРА"
songsCount	= 15

fair_id		= "no"
suggestion_count = 5

; recommend to false, works bad
logSongs = false

historyLength = 5

GoogleAnalytics = "UA-17864988-4" ; Your google analytics id

allow_download = true ; allow to download tracks

[storage]
max_size	= 200
dir_lvls	= 3 ; сколько уровней подпапок создавать для хранения музыки

[vk]
userAgent   = "Mozilla/5.0 (Windows; U; Windows NT 6.0; ru; rv:1.9.2.13) Gecko/20101203 Firefox/3.6.13 ( .NET CLR 3.5.30729)"
id          = "АЙДИ_ВКОНТАКТЕ"
login       = "ЕМЕЙЛ_ВКОНТАКТЕ"
password    = "ПАРОЛЬ_ВКОНТАКТЕ"

[client] ; js settings
deleteSong = true ; delete songs from server
suggest = false 
