[database]
;dsn (http://pear.php.net/manual/en/package.database.db.intro-dsn.php)
;examples:
;  MySQL  (mysql:host=HOST;dbname=DBNAME)
;  SQLite (sqlite:/path/to/db.sq3)
;  ...
dsn         = "mysql:host=HOST;dbname=DBNAME"
; user (optional)
user        = "USER"
; password (optional)
password    = "PASS"
; database charset
charset     = "utf8"


[app]
; Page title
title		= "Open Player"
; Page charset
charset		= "UTF-8"
; Base url
baseUrl		= "ССЫЛКА_НА_СТРАНИЦУ_ПЛЕЕРА"
; Count songs per query
songsCount	= 15
; Better songs filter (work slow, recommend to "no")
fair_id		= "no"
; Suggestion count
suggestion_count = 5
; Log songs for suggestion
logSongs = false
; Search history length
historyLength = 5
; Google analytics id
GoogleAnalytics = "XX-XXXXXXXX-X"
; Allow to download tracks
allow_download = true 

;default language
defLang = "ru"
; available languages
availableLangs[] = "ru"
availableLangs[] = "ua"
availableLangs[] = "en"

; sliding playlist
slidingPlaylist = false

[storage]
; Directory levels
dir_lvls	= 0
; Max size
max_size    = 200


[vk]
; Parser UserAgent (List popular http://www.user-agents.org)
userAgent   = "Mozilla/5.0 (Windows; U; Windows NT 6.0; ru; rv:1.9.2.13) Gecko/20101203 Firefox/3.6.13 ( .NET CLR 3.5.30729)"
; Vkontakte id
id          = "АЙДИ_ВКОНТАКТЕ"
; Vkontakte email
login       = "ЕМЕЙЛ_ВКОНТАКТЕ"
; Vkontakte password
password    = "ПАРОЛЬ_ВКОНТАКТЕ"


[client] ; js settings
; Delete songs from server
deleteSong = true 
; Ajax suggest
suggest = false 
